.phase-type-font {
  font-size: small;
}
.card-subtitle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  font-size: 13px;
}

.hr-line {
  margin-top: "5px" !important;
  margin-bottom: "30px" !important;
  border-bottom: 1px solid lightgray;
}

.seat-web-structure {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.seat-mob-structure {
  margin-top: 20px;
}

.seaticon {
  height: 65px;
  width: 40px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
}
.seatNo {
  margin-top: 26px;
  margin-left: 18px;
  position: absolute;
  font-weight: 600;
  font-size: x-small;
}

.mobileViewPhaseTitle {
  justify-content: center;
  display: flex;
  margin-bottom: 10px;
}

.mobileView {
  display: ruby-text;
}

.seatInfoIcon {
  height: 20px;
  width: 20px;
  margin-left: 25px;
  margin-right: 5px;
}
.allSeatIcon {
  margin-top: 10px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  font-size: x-small;
}
.showSeatname {
  margin-left: 20px;
  color: darksalmon;
  font-weight: 700;
}
hr {
  margin-top: 0px !important;
  color: inherit;
  border: 0;
  border-top: var(--bs-border-width) solid;
  opacity: 0.25;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.containerx {
  position: relative;
  text-align: center;
}

.confirmp {
  width: 300px;
}

.buslist {
  overflow-y: scroll;
  height: 580px;
  margin-bottom: 21px;
}

.mostly-customized-scrollbar::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background-color: #aaa; /* or add it to the track */
}

/* Add a thumb */
.mostly-customized-scrollbar::-webkit-scrollbar-thumb {
  background: #000;
}
.mainContent {
  overflow-y: scroll;
  height: 900px;
}
/* .col-xl-3 {
    flex: 0 0 auto;
    width: 20%;
  } */

.seaterWebView {
  height: 41px;
  width: 41px;
  margin-right: 0px;
  margin-bottom: 6px;
}

.seaterMobView {
  height: 41px;
  width: 41px;
  margin-right: 5px;
  margin-bottom: 1px;
}

.seaterMobseatNo {
  margin-top: 12px;
  margin-left: 15px;
  position: absolute;
  font-weight: 600;
  font-size: x-small;
}

.seaterWebseatNo {
  transform: rotateZ(90deg);
  margin-top: 10px;
  margin-left: 13px;
  position: absolute;
  font-weight: 600;
  font-size: x-small;
}

td .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: white;
  color: darkgray;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

td:hover .tooltiptext {
  visibility: visible;
}

.seaterWebTbl {
  transform: rotateZ(270deg);
  margin-top: 25px;
  text-align: -webkit-right;
}

.seaterMobTbl {
  margin-left: 7px;
  text-align: -webkit-center;
}
.cardMessure {
  height: 430px;
}
.seatsDetails {
  margin-left: 15px;
}
.dashCard {
  border-radius: 15px;
}
.searchbtn {
  background-color: rgb(51, 122, 183);
  border-radius: 11px;
  height: 40px;
  padding: 8px;
  padding-top: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  color: white;
}

.disbtn {
  background-color: rgb(51 122 183 / 56%);
}

.radiobtn {
  margin-left: 6px;
  margin-right: 15px;
}
.boldText {
  padding: 5px;
  padding-right: 15px;
  padding-left: 15px;
  background: #b3b3b330;
  border-radius: 15px;
  font-weight: 600;
  color: #337ab7;
}
.fareInfo {
  font-weight: 600;
  color: green;
}
.card-title {
  font-weight: 600;
  color: #337ab7;
  line-break: anywhere;
}
